<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.aakira.expandablelayout.uitest"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExpandableLinearLayoutActivity2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ExpandableLinearLayoutActivity"/>
        <activity android:name=".ExpandableLinearLayoutActivity3"/>
        <activity android:name=".ExpandableRecyclerViewActivity"/>
        <activity android:name=".ExpandableRelativeLayoutActivity"/>
        <activity android:name=".ExpandableRelativeLayoutActivity2"/>
        <activity android:name=".ExpandableRelativeLayoutActivity3"/>
        <activity android:name=".ExpandableWeightLayoutActivity"/>
    </application>
</manifest>
